body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 8px 20px;
    margin: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
